@charset "UTF-8";

.mini{
	width:15px;
}
a{
	color:black !important;
	text-decoration:none !important;
}
body{
	margin-top:50px !important;
	background-color:#e2e2e2 !important;
}
.table{
	background-color:white !important;
}
.nada:hover{
	background-color:white !important;
}
.cabecera{
	background-color:#96d5ff !important;
}
.maspeque{
	width:75px;
	height:100px;
}
.vertical{
	vertical-align:center;
}
section{
	background-color:white !important;
}